 header {
    background-color: black;
    background-size: cover;
    flex-direction: row;
  }
 

  body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    background-image: url(../imagenes/bg.jpg);
    background-size: cover;
    column-gap: 20px;
    text-decoration: white solid;
  }

  footer {
    background-color: lightgray;
    background-size: cover;
  }

  #productos-main {
    margin-top: 50px;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-areas: 
    "img1 img2 img3" 
    "text1 text2 text3" 
    "img4 img5 img6" 
    "text4 text5 text6";
    column-gap: 150px;
    row-gap: 50px;
  }
  
  #productos-main div:nth-child(1) {
    grid-area: img1;
  }
  
  #productos-main div:nth-child(2) {
    grid-area: text1;
  }
  
  #productos-main div:nth-child(3) {
    grid-area: img2;
  }
  
  #productos-main div:nth-child(4) {
    grid-area: text2;
  }
  
  #productos-main div:nth-child(5) {
    grid-area: img3;
  }
  
  #productos-main div:nth-child(6) {
    grid-area: text3;
  }
  
  #productos-main div:nth-child(7) {
    grid-area: img4;
  }
  
  #productos-main div:nth-child(8) {
    grid-area: text4;
  }
  
  #productos-main div:nth-child(9) {
    grid-area: img5;
  }

  #productos-main div:nth-child(10) {
    grid-area: text5;
  }

  #productos-main div:nth-child(11) {
    grid-area: img6;
  }
  

  #productos-main div:nth-child(12) {
    grid-area: text6;
  }
  

  
  
  main img {
    width: 300px;
    height: 300px;
    border: 5px;
  }

  .i1{
    width: 350px;
    height: 350px;
  }

  .i2{
    width: 350px;
    height: 350px;
  }
  
  .i3{
    width: 350px;
    height: 350px;
  }
  
  .i4{
    width: 350px;
    height: 350px;
  }

  .i5{
    width: 350px;
    height: 350px;
  }

  .i6{
    width: 350px;
    height: 350px;
  }

  main a{
    color: white;
    text-decoration: double;  
  }

  .contenedor {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  header img {
    width: 100%;
    height: auto;
  }
  
  main img {
    width: 70%;
    height: auto;
  }
  
  section {
    width: 100%;
    height: auto;
  }
  
  @media screen and (max-width: 800px) {
    main {
      width: 100%;
    }
    section {
      width: 100%;
    }
  }
  footer {
    margin-top: 100px;
    width: 100%;
    height: 25%;
  }